.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #524892;
}

.ctn{
  background-color: #134ec5;
}

.co{
  color: white;
}

.co1{
  background-color: #61dafb;
  color: white;
}

.left{
  margin-left: 1400%;
}

.left1{
  margin-left: 538%;
}

.container-lg1{
  padding-bottom: 5px;
  margin-top: 1px;
  text-align: left;
  border: 1px solid black;
  background-color: skyblue;
}

.btnm{
  margin-left: 90%;
}